{% include "head.html" %}

<body>

<!-- Navigation -->
{% include "header.html" %}

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">About
                <small>Meet our team</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="{% url 'home' %}">Home</a>
                </li>
                <li class="active">About</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <!-- Intro Content -->
    <div class="row">
        <div class="col-md-6">
            <img class="img-responsive" src="http://placehold.it/750x450" alt="">
        </div>
        <div class="col-md-6">
            <h2 style="margin-top:0px;">About Cornell Hacking Club</h2>
            <p>We are a group dedicated to understanding, deconstructing, and ultimately breaking systems in order to
                advance computer and network security. Our goal is to create a space where Cornell students of all
                disciplines can gather to crack open complex networks, and create some of their own.</p>
            <p>The most common definition of hacking is gaining unauthorized access to a computer. However, we prefer
                Paul
                Graham’s definition:</p>
            <blockquote>To programmers, “hacker” connotes mastery in the most literal sense: someone who can
                make a computer do what he wants—whether the computer wants to or not.</blockquote>
            <p>We have two subgroups: one with the purpose of educating the Cornell community on the importance of
                cybersecurity and cyberethics, and one team that competes in and hosts hacking competitions (CTF).</p>
        </div>
    </div>
    <!-- /.row -->

    <!-- Team Members -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Meet The Team</h2>
        </div>
        <div class="col-md-4 text-center">
            <div class="thumbnail">
                <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                <div class="caption">
                    <h3>Evan King<br>
                        <small>President</small>
                    </h3>
                    <p>Computer Science Major, College of Engineering. Class of 2017.</p>
                    <ul class="list-inline">
                        <li><a href="https://www.facebook.com/evan.king.50"><i class="fa fa-2x fa-facebook-square"></i></a>
                        </li>
                        <li><a href="https://www.linkedin.com/in/evan-king-40072280"><i class="fa fa-2x fa-linkedin-square"></i></a>
                        </li>
                        <li><a href="https://github.com/esk79"><i class="fa fa-2x fa-github-square"></i></a>
                        </li>
                        <!-- considered using for resume download -->
{#                        <li><a href="#"><i class="fa fa-2x fa-file-pdf-o"></i></a>#}
{#                        </li>#}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="thumbnail">
                <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                <div class="caption">
                    <h3>Eyvind Niklasson<br>
                        <small>CTF Team Captain/Vice President</small>
                    </h3>
                    <p>Computer Science Major, College of Arts and Science. Class of 2017.</p>
                    <ul class="list-inline">
                        <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-2x fa-github-square"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="thumbnail">
                <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                <div class="caption">
                    <h3>Sumner Hearth<br>
                        <small>Treasurer/Vice President</small>
                    </h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt
                        maxime.</p>
                    <ul class="list-inline">
                        <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-2x fa-github-square"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="thumbnail">
                <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                <div class="caption">
                    <h3>Jimmy Cao<br>
                        <small>Head of Cryptography</small>
                    </h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt
                        maxime.</p>
                    <ul class="list-inline">
                        <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-2x fa-github-square"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="thumbnail">
                <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                <div class="caption">
                    <h3>Athena Cheung<br>
                        <small>Job Title</small>
                    </h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt
                        maxime.</p>
                    <ul class="list-inline">
                        <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-2x fa-github-square"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Cornell Hacking Club 2016</p>
            </div>
        </div>
    </footer>

</div>
<!-- /.container -->

{% include "js.html" %}

</body>

</html>
