{% include "head.html" %}
{% load static %}
<body>

<!-- Navigation -->
{% include "header.html" %}

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">About
                <small>Meet our team</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="{% url 'home' %}">Home</a>
                </li>
                <li class="active">About</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <!-- Intro Content -->
    <div class="row">
        <div class="col-md-6">
            <img class="img-responsive" src="{% static "img/TeamPhoto.JPG" %}" alt="">
        </div>
        <div class="col-md-6">
            <h2 style="margin-top:0px;">About Cornell Hacking Club</h2>
            <p>We are a group dedicated to understanding, deconstructing, and ultimately breaking systems in order to
                advance computer and network security. Our goal is to create a space where Cornell students of all
                disciplines can gather to crack open complex networks, and create some of their own.</p>
            <p>The most common definition of hacking is gaining unauthorized access to a computer. However, we prefer
                Paul
                Graham’s definition:</p>
            <blockquote>To programmers, “hacker” connotes mastery in the most literal sense: someone who can
                make a computer do what he wants—whether the computer wants to or not.
            </blockquote>
            <p>Our main focus is competing in global hacking competitions known as CTFs. We also work on hacking related
                software and hardware projects.</p>
        </div>
    </div>
    <!-- /.row -->

    <!-- Team Members -->
    <div class="row">

        <div class="col-lg-12">
            <h2 class="page-header">Meet The Team</h2>
        </div>

        {# TODO: Make this code less ugly #}

        {% for member in members %}
            {% if member.title == "President" %}
            <div class="col-lg-3 col-md-4 col-xs-6 thumb text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="{{ member.image.url }}" alt="">
                    <div class="caption">
                        <h3>{{ member.name }}<br>
                            <small>{{ member.title }}</small>
                        </h3>
                        <ul class="list-inline">
                            <li><a href="{{ member.facebook }}"><i
                                    class="fa fa-2x fa-facebook-square"></i></a>
                            </li>
                            <li><a href="{{ member.linkedin }}"><i
                                    class="fa fa-2x fa-linkedin-square"></i></a>
                            </li>
                            <li><a href="{{ member.github }}"><i class="fa fa-2x fa-github-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
        {% for member in members %}
            {% if member.title == "Vice President" %}
            <div class="col-lg-3 col-md-4 col-xs-6 thumb text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="{{ member.image.url }}" alt="">
                    <div class="caption">
                        <h3>{{ member.name }}<br>
                            <small>{{ member.title }}</small>
                        </h3>
                        <ul class="list-inline">
                            <li><a href="{{ member.facebook }}"><i
                                    class="fa fa-2x fa-facebook-square"></i></a>
                            </li>
                            <li><a href="{{ member.linkedin }}"><i
                                    class="fa fa-2x fa-linkedin-square"></i></a>
                            </li>
                            <li><a href="{{ member.github }}"><i class="fa fa-2x fa-github-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
        {% for member in members %}
            {% if member.title != "Team Member" and member.title != "President" and member.title != "Vice President" and member.title != "Alumnus"%}
            <div class="col-lg-3 col-md-4 col-xs-6 thumb text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="{{ member.image.url }}" alt="">
                    <div class="caption">
                        <h3>{{ member.name }}<br>
                            <small>{{ member.title }}</small>
                        </h3>
                        <ul class="list-inline">
                            <li><a href="{{ member.facebook }}"><i
                                    class="fa fa-2x fa-facebook-square"></i></a>
                            </li>
                            <li><a href="{{ member.linkedin }}"><i
                                    class="fa fa-2x fa-linkedin-square"></i></a>
                            </li>
                            <li><a href="{{ member.github }}"><i class="fa fa-2x fa-github-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
        {% for member in members %}
            {% if member.title == "Team Member" %}
            <div class="col-lg-3 col-md-4 col-xs-6 thumb text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="{{ member.image.url }}" alt="">
                    <div class="caption">
                        <h3>{{ member.name }}<br>
                            <small>{{ member.title }}</small>
                        </h3>
                        <ul class="list-inline">
                            <li><a href="{{ member.facebook }}"><i
                                    class="fa fa-2x fa-facebook-square"></i></a>
                            </li>
                            <li><a href="{{ member.linkedin }}"><i
                                    class="fa fa-2x fa-linkedin-square"></i></a>
                            </li>
                            <li><a href="{{ member.github }}"><i class="fa fa-2x fa-github-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
        <!-- /.row -->

        <div class="col-lg-12">
            <h2 class="page-header">Alumni</h2>
        </div>

        {% for member in members %}
            {% if member.title == "Alumnus" %}
            <div class="col-lg-3 col-md-4 col-xs-6 thumb text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="{{ member.image.url }}" alt="">
                    <div class="caption">
                        <h3>{{ member.name }}<br>
                            <small>{{ member.title }}</small>
                        </h3>
                        <ul class="list-inline">
                            <li><a href="{{ member.facebook }}"><i
                                    class="fa fa-2x fa-facebook-square"></i></a>
                            </li>
                            <li><a href="{{ member.linkedin }}"><i
                                    class="fa fa-2x fa-linkedin-square"></i></a>
                            </li>
                            <li><a href="{{ member.github }}"><i class="fa fa-2x fa-github-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Cornell Hacking Club 2017</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    {% include "js.html" %}

</body>

</html>
