{% include "head.html" %}
{% load static %}
<body>

<!-- Navigation -->
{% include "header.html" %}

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Challenges
                <small></small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="{% url 'home' %}">Home</a>
                </li>
                <li class="active">Challenges</li>
            </ol>
        </div>
        {#        Coming Soon#}
    </div>
    <!-- /.row -->

    <div class="row ">

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-3">Want to join our CTF team?</h1>
                <p class="lead">We are currently looking for more qualified hackers to join our team. In order to get an interview, solve one of the challenges below.</p>
            </div>
        </div>

        <div class="col-xs-6 col-sm-3">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Web</h3>
                    <p>Username: CHC </br>Password: OverErryThing</p>
                    <p><a href="http://128.253.3.220:1111/" class="btn btn-primary" role="button">Website</a>
                        <a href="{% static "files/login.pyc.zip" %}" class="btn btn-default" role="button">Server Binary</a></p>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Shell</h3>
                    <p>I've always known poker was a dangerous game.</p>
                    <p><a href="#" class="btn btn-primary" role="button">Shell</a>
                        <a href="#" class="btn btn-default" role="button">Resources</a></p>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Forensics</h3>
                    <p>I know these guys are up to something. Just not sure what.</p>
                    <p><a href="{% static "files/final_hacker_traffic.pcap.zip" %}" class="btn btn-primary" role="button">Download</a>
                        <a href="http://serverfault.com/questions/38626/how-can-i-read-pcap-files-in-a-friendly-format/38632" class="btn btn-default" role="button">Resources</a></p>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Reversing</h3>
                    <p>There's a dragon afoot, we need a hero.</p>
                    <p><a href="#" class="btn btn-primary" role="button">Download</a>
                        <a href="#" class="btn btn-default" role="button">Resources</a></p>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /.container -->

{% include "js.html" %}

</body>

</html>
