{% include "head.html" %}
{% load static %}
<body>

<!-- Navigation -->
{% include "header.html" %}

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Challenges
                <small></small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="{% url 'home' %}">Home</a>
                </li>
                <li class="active">Challenges</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <div class="row ">

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-3">Want to join our CTF team?</h1>
                <p class="lead">Recruitment has finally opened! Solve any challenge to immediately qualify for an interview. <br> You can find the solutions to past challenges on our <a href="{% url 'writeups' %}4/">write-ups page</a>.</p>
                <p>
                    <a class="btn btn-primary" data-toggle="collapse" href="#moreinfo" aria-expanded="false"
                       aria-controls="moreinfo">
                        What's a CTF?
                    </a>
                </p>
                <div class="collapse" id="moreinfo">
                    <div class="card card-block">
                        Capture the Flag (CTF) is a special kind of information security (hacking)
                        competitions. Jeopardy-style CTFs have a couple of questions (tasks) in range of categories. For
                        example, Web, Forensic, Crypto, Binary or something else. Team can gain some points for every
                        solved task. More points for more complicated tasks usually. Each task is vulnerable in some
                        way. Your goal is to exploit this vulnerability and in doing so you will find the "flag." For
                        the challenges below, the flags are of the form CHC{...}. For example, a given flag could look
                        like CHC{1_4m_4_fl46}.
                    </div>
                </div>
            </div>


        </div>

        {% if error %}
            <div class="alert alert-danger">
                <strong>Oops!</strong> {{ error }}
            </div>
        {% endif %}

        <div class="col-xs-6 col-sm-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Web</h3>
                    <p>Apparently a CHC interview costs $100k. <br> Maybe you can get it cheaper?</p>
                    <p>
                        <a href="http://165.227.181.157" class="btn btn-primary" role="button">Website</a>
                        <a href="http://www.cgisecurity.com/owasp/html/ch11.html" class="btn btn-default" role="button">Resources</a>
                    </p>
                </div>
                <div class="caption">
                    <form METHOD="POST" action="">
                        {% csrf_token %}
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Flag" name="web_flag">
                          <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">Submit</button>
                          </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Crypto</h3>
                    <p>chc.cs.cornell.edu:1347</p>
                    <p>
                        <a href="https://gist.github.com/tjade273/873ee1ec2d7896405e5d3c616dc1ea13"
                           class="btn btn-primary " role="button">Start Here!</a>
                        <a href="https://gist.github.com/tjade273/36455f4955307db2b680c4f1ac35e710#file-rsa-c" class="btn btn-default" role="button">Code</a>
                    </p>
                </div>
                <div class="caption">
                    <form METHOD="POST" action="">
                        {% csrf_token %}
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Flag" name="crypto_flag">
                          <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">Submit</button>
                          </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Forensics</h3>
                    <p>I got the strangest phone call. <br> Any idea what they're saying?</p>
                    <p><a href="{% static "files/CHC-forensics-challenge.pcap" %}" class="btn btn-primary"
                          role="button">Download</a>
                        <a href="http://serverfault.com/questions/38626/how-can-i-read-pcap-files-in-a-friendly-format/38632"
                           class="btn btn-default" role="button">Resources</a></p>
                </div>
                <div class="caption">
                    <form METHOD="POST" action="">
                        {% csrf_token %}
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Flag" name="forensic_flag">
                          <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">Submit</button>
                          </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Reversing</h3>
                    <p>nc chc.cs.cornell.edu 1345</p>
                    <p>
                        <a href="{% static "files/stackbug" %}" class="btn btn-primary" role="button">Binary</a>
                        <a href="https://en.wikibooks.org/wiki/X86_Disassembly/Disassemblers_and_Decompilers"
                           class="btn btn-default" role="button">Resources</a>
                       </p>
                </div>
                <div class="caption">
                    <form METHOD="POST" action="">
                        {% csrf_token %}
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Flag" name="reverse_flag">
                          <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">Submit</button>
                          </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
         <div class="col-xs-6 col-sm-4">
        <div class="thumbnail">
            <div class="caption">
                <h3>Recon</h3>
                <p>I left my key lying around somewhere. <br>Can you git it for me?</p>
                <p>
                    <a href="/tools" class="btn btn-primary" role="button">Resources</a>
                   </p>
            </div>
            <div class="caption">
                <form METHOD="POST" action="">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Flag" name="reverse_flag">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Submit</button>
                      </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
   
    </div>

</div>
<!-- /.container -->

{% include "js.html" %}


</body>

</html>
