{% include "head.html" %}
{% load static %}
<body>

<!-- Navigation -->
{% include "header.html" %}

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Challenges
                <small></small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="{% url 'home' %}">Home</a>
                </li>
                <li class="active">Challenges</li>
            </ol>
        </div>
        {#        Coming Soon#}
    </div>
    <!-- /.row -->

    <div class="row ">

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-3">Want to join our CTF team?</h1>
                <p class="lead">We are currently looking for more qualified hackers to join our team. In order to get an
                    interview, solve one of the challenges below.</p>
                <p>
                    <a class="btn btn-primary" data-toggle="collapse" href="#moreinfo" aria-expanded="false"
                       aria-controls="moreinfo">
                        What's a CTF?
                    </a>
                </p>
                <div class="collapse" id="moreinfo">
                    <div class="card card-block">
                        Capture the Flag (CTF) is a special kind of information security (hacking)
                        competitions. Jeopardy-style CTFs have a couple of questions (tasks) in range of categories. For
                        example, Web, Forensic, Crypto, Binary or something else. Team can gain some points for every
                        solved task. More points for more complicated tasks usually. Each task is vulnerable in some
                        way. Your goal is to exploit this vulnerability and in doing so you will find the "flag." For
                        the challenges below, the flags are of the form CHC{...}. For example, a given flag could look like CHC{1_4m_4_fl46}.
                    </div>
                </div>
            </div>


        </div>

        {% if error %}
            <div class="alert alert-danger">
                <strong>Oops!</strong> {{ error }}
            </div>
        {% endif %}

        <div class="col-xs-6 col-sm-3">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Web</h3>
                    <p>Username: CHC </br>Password: OverErryThing</p>
                    <p><a href="http://chc.cs.cornell.edu:1338/" class="btn btn-primary" role="button">Website</a>
                        <a href="{% static "files/login.pyc.zip" %}" class="btn btn-default" role="button">Server
                            Binary</a></p>
                </div>
                <div class="caption">
                    <form METHOD="POST" action="">
                        {% csrf_token %}
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Flag" name="web_flag">
                          <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">Submit</button>
                          </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Crypto</h3>
                    <p>ie. echo "test" | nc chc.cs.cornell.edu 1339 | xxd</p>
                    <p>
                        <a href="http://cryptopals.com/sets/2/challenges/12" class="btn btn-default" role="button">Resources</a>
                        <a href="https://github.com/jcao219/ecb_ctf_challenge/blob/master/casino.c" class="btn btn-default" role="button">Code</a></p>
                </div>
                <div class="caption">
                    <form METHOD="POST" action="">
                        {% csrf_token %}
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Flag" name="crypto_flag">
                          <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">Submit</button>
                          </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Forensics</h3>
                    <p>I know these guys are up to something. Just not sure what.</p>
                    <p><a href="{% static "files/final_hacker_traffic.pcap.zip" %}" class="btn btn-primary"
                          role="button">Download</a>
                        <a href="http://serverfault.com/questions/38626/how-can-i-read-pcap-files-in-a-friendly-format/38632"
                           class="btn btn-default" role="button">Resources</a></p>
                </div>
                <div class="caption">
                    <form METHOD="POST" action="">
                        {% csrf_token %}
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Flag" name="forensic_flag">
                          <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">Submit</button>
                          </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Reversing</h3>
                    <p>There's a dragon afoot, we need a hero.</p>
                    <p><a href="{% static "files/dragons" %}" class="btn btn-primary" role="button">Binary</a>
                        <a href="https://en.wikibooks.org/wiki/X86_Disassembly/Disassemblers_and_Decompilers" class="btn btn-default" role="button">Resources</a></p>
                </div>
                <div class="caption">
                    <form METHOD="POST" action="">
                        {% csrf_token %}
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Flag" name="reverse_flag">
                          <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">Submit</button>
                          </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /.container -->

{% include "js.html" %}

</body>

</html>
