{% include "head.html" %}

<body>

<!-- Navigation -->
{% include "header.html" %}

<!-- Header Carousel -->
<header id="myCarousel" class="carousel slide">
    <!-- Indicators -->

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image:url('../static/img/websitebanner_black-01.jpg');"></div>
        </div>
    </div>


</header>

<!-- Page Content -->
<div class="container">

    <!-- Marketing Icons Section -->
    <div class="row padding-top">
        <!--<div class="col-lg-12">-->
        <!--<h1 class="page-header">-->
        <!--Optional Header, Undecided if Necessary-->
        <!--</h1>-->
        <!--</div>-->
        </br>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-floppy-o"></i> About Us</h4>
                </div>
                <div class="panel-body">
                    <p>We are a group dedicated to understanding, deconstructing, and ultimately
                        breaking systems in order to
                        advance computer and network security. We hold bi-weekly workshops and, as a smaller team,
                        compete in
                        global hacking competitions.</p>
                    <a href="../about" class="btn btn-default">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-calendar"></i> Get Involved</h4>
                </div>
                <div class="panel-body">
                    <p>Interested in joining the club? Simply come by and attend our bi-weekly meetings on Thursdays
                        at 5pm in Thurston 205.
                        Check out our facebook group for updates on events and activities.</p>
                    </br>
                    </br>
                    <a href="https://www.facebook.com/groups/738252822943403/" class="btn btn-default">Facebook
                        Group </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-money"></i> Sponsorship</h4>
                </div>
                <div class="panel-body">
                    <p>If you are a company representative interested in sponsoring out club, please download our
                        sponsorship package below to learn more
                        about our various sponsorship packages and how you can get involved. We look forward to hearing
                        from you.</p>
                    <a href="../static/files/chc_sponsorship.pdf" class="btn btn-default">Download</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <!-- Portfolio Section -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Event Calendar
            </h1>
        </div>
        <div class="container padding-bottom">
            <hr>
            <div id="calendar"></div>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Cornell Hacking Club 2016</p>
            </div>
        </div>
    </footer>

</div>
<!-- /.container -->

<!-- jQuery -->
<script src="../static/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../static/js/bootstrap.min.js"></script>

<!-- Script for Calendar -->
<script>
    events = (JSON.parse('{{ events }}'.replace(/&quot;/g, '\"')))
    $.getScript('http://arshaw.com/js/fullcalendar-1.6.4/fullcalendar/fullcalendar.min.js', function () {
        $('#calendar').fullCalendar(events);
    })
</script>

</body>

</html>
