{% include "head.html" %}

<body>

<!-- Navigation -->
{% include "header.html" %}
{% load static %}

<!-- Header Carousel -->
<header id="myCarousel" class="carousel slide">
    <!-- Indicators -->

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image:url('{% static "img/websitebanner.jpg" %}');"></div>
        </div>
    </div>


</header>

<!-- Page Content -->
<div class="container">

    <!-- Marketing Icons Section -->
    <div class="row padding-top">
        <!--<div class="col-lg-12">-->
        <!--<h1 class="page-header">-->
        <!--Optional Header, Undecided if Necessary-->
        <!--</h1>-->
        <!--</div>-->
        </br>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-floppy-o"></i> About Us</h4>
                </div>
                <div class="panel-body">
                    <p>We are a group dedicated to understanding, deconstructing, and ultimately
                        breaking systems in order to
                        advance computer and network security. We hold bi-weekly workshops and, as a smaller team,
                        compete in
                        global hacking competitions.</p>
                    <a href="{% url 'about' %}" class="btn btn-default">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-pencil"></i> Read our writeups!</h4>
                </div>
                <div class="panel-body">
                    <p>Upon the completion of each CTF we writeup how we solved each problem and post them to our
                        Writeups Page.
                         </br></br>
                        Please click on the link below to read our writeups!
                   </p>
                    <a href="{% url 'writeups' %}" class="btn btn-default">Writeups</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-money"></i> Sponsorship</h4>
                </div>
                <div class="panel-body">
                    <p>If you are a company representative interested in sponsoring our club, please download our
                        sponsorship package below to learn more
                        about our various sponsorship packages and how you can get involved. We look forward to hearing
                        from you.</p>
                    <a href="{% static 'files/chc_sponsorship.pdf' %}" class="btn btn-default">Download</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <!-- Portfolio Section -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Event Calendar
            </h1>
        </div>
        <table class="table table-striped">
            <thead style="background: #5C0005; ">
            <tr>
                <th>What?</th>
                <th>When?</th>
                <th>Where?</th>
            </tr>
            </thead>
            <tbody>
            {% for event in events %}
                <tr>
                    <th scope="row">{{ event.title }}</th>
                    <td>{{ event.start }}</td>
                    <td>{{ event.location }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Cornell Hacking Club 2016</p>
            </div>
        </div>
    </footer>

</div>
<!-- /.container -->

{% include "js.html" %}

<!-- Script for Calendar -->
<script>
    {#    events = (JSON.parse('{{ events }}'.replace(/&quot;/g, '\"')))#}
    {#    $.getScript('http://arshaw.com/js/fullcalendar-1.6.4/fullcalendar/fullcalendar.min.js', function () {#}
    {#        $('#calendar').fullCalendar(events);#}
    {#    })#}
</script>

</body>

</html>
