<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Cornell Hacking Club</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/modern-business.css" rel="stylesheet">
    <link href="../static/css/calendar.css" rel="stylesheet">
    <link href="../static/css/general.css" rel="stylesheet">


    <!-- Custom Fonts -->
    <link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<!-- Navigation -->
{% include "header.html" %}

<!-- Header Carousel -->
<header id="myCarousel" class="carousel slide">
    <!-- Indicators -->

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image:url('http://placehold.it/1900x1080');"></div>
            <div class="carousel-caption">
                <h2>Cornell Hacking Club</h2>
            </div>
        </div>
    </div>


</header>

<!-- Page Content -->
<div class="container">

    <!-- Marketing Icons Section -->
    <div class="row padding-top">
        <!--<div class="col-lg-12">-->
        <!--<h1 class="page-header">-->
        <!--Optional Header, Undecided if Necessary-->
        <!--</h1>-->
        <!--</div>-->
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-floppy-o"></i> About Us</h4>
                </div>
                <div class="panel-body">
                    <p>We are a group dedicated to understanding, deconstructing, and ultimately
                        breaking systems in order to
                        advance computer and network security. We hold weekly meeting and, as a smaller team, compete in
                        global hacking competitions.</p>
                    <a href="../about" class="btn btn-default">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-calendar"></i> Get Involved</h4>
                </div>
                <div class="panel-body">
                    <p>Interested in joining the club? Simply come by and attend our weekly meetings on Tuesdays from
                        5-6pm in Olin 245. If you are interested in joining our CTF team, please hit the button below in
                        order to contact us and we can schedule an interview.</p>
                    <a href="../contact" class="btn btn-default">Contact Us</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-money"></i> Sponsorship</h4>
                </div>
                <div class="panel-body">
                    <p>If you are a company representative interested in sponsoring out club, please follow the link
                        below to learn more
                        about our various sponsorship packages and how you can get involved. We look forward to hearing
                        from you.</p>
                    <a href="../sponsorship" class="btn btn-default">Learn More</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <!-- Portfolio Section -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Event Calendar
            </h1>
        </div>
        <div class="container padding-bottom">
            <hr>
            <div id="calendar"></div>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Cornell Hacking Club 2016</p>
            </div>
        </div>
    </footer>

</div>
<!-- /.container -->

<!-- jQuery -->
<script src="../static/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../static/js/bootstrap.min.js"></script>

<!-- Script for Calendar -->
<script>
    events = (JSON.parse('{{ events }}'.replace(/&quot;/g, '\"')))
    $.getScript('http://arshaw.com/js/fullcalendar-1.6.4/fullcalendar/fullcalendar.min.js', function () {
        $('#calendar').fullCalendar(events);
    })
</script>

</body>

</html>
