{% include "head.html" %}

<body>

<!-- Navigation -->
{% include "header.html" %}

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Lectures and Workshops
                <small>PDF Downloads</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="{% url 'home' %}">Home</a>
                </li>
                <li class="active">Lectures and Workshops</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->


    <div class="col-md-8">
        <!-- Content Row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel-group" id="accordion">

                    {% if error %}
                        <div class="alert alert-danger">
                            <strong>Oops!</strong> {{ error }}
                        </div>
                    {% endif %}
                    <!-- /.panels -->
                    {% for lecture in lectures %}
                        <div class="panel panel-default">
                            <div class="panel-heading clearfix">
                                <div class="col-xs-8 lecture-padding">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                           href="#expand{{ lecture.id }}">{{ lecture.title }}</a>
                                    </h4>
                                </div>
                                <div class="col-xs-4">
                                    <button type="submit" class="btn btn-default pull-right"
                                            onclick="window.open('{{ lecture.document.url }}')">
                                        Download
                                    </button>
                                </div>
                            </div>
                            <div id="expand{{ lecture.id }}" class="panel-collapse collapse">
                                <div class="panel-body">
                                    {{ lecture.description }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <!-- /.panel-group -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>

    <div class="col-md-4">
        <!-- Search bar -->

        {#        <div class="col-md-12">#}
        <div class="row">
            <div class="well">
                <form METHOD="GET" action="">
                    <div class="input-group">
                        <input type="text" name="query" class="form-control" placeholder="Search Lectures">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </form>
            </div>
        </div>

        {#        </div>#}

        <div class="row">

            <div class="well">
                <h4>Lectures</h4>
                <p>Prior to each weeks lesson we aim to create a PDF which highlights the contents of that given
                    lecture.
                    Said PDFs can be download here the day of the lesson. Click on the title to read a short description
                    of what is covered.</p>
            </div>
        </div>
    </div>


    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Cornell Hacking Club 2017</p>
            </div>
        </div>
    </footer>

</div>
<!-- /.container -->

{% include "js.html" %}

</body>

</html>
