<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Cornell Hacking Club</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../static/css/modern-business.css" rel="stylesheet">
    <link href="../../static/css/general.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../../static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<!-- Navigation -->
{% include "header.html" %}

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Tools
            </h1>
            <ol class="breadcrumb">
                <li><a href="../">Home</a>
                </li>
                <li class="active">Tools</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <div class=bs-example data-example-id=panel-without-body-with-table>
        <div class="panel panel-default">
            <h4 class="panel-heading tools-heading">Network Analysis</h4>
            <table class=table>
                <tbody>
                <tr>
                    <th><a href="https://www.wireshark.org/">Wireshark</a></th>
                    <td>A network packet sniffer and analyser.</td>

                </tr>
                <tr>
                    <th><a href="https://nmap.org/">Nmap</a></th>
                    <td>Used to Scan Ports and Map Networks for network discovery and security auditing</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class=bs-example data-example-id=panel-without-body-with-table>
        <div class="panel panel-default">
            <h4 class="panel-heading tools-heading">Disassemblers</h4>
            <table class=table>
                <tbody>
                <tr>
                    <th><a href="https://www.hex-rays.com/products/ida/">IDAPro</a></th>
                    <td>Industry standard multi-processor disassembler and debugger</td>

                </tr>
                <tr>
                    <th><a href="http://jd.benow.ca/">JD GUI</a></th>
                    <td>A Java decompiler which can decompile and analyze Java 5 “byte code” and the later versions</td>
                </tr>
                <tr>
                    <th><a href="http://jd.benow.ca/">OllyDgb</a></th>
                    <td>A 32-bit assembler level analysing debugger for Microsoft® Windows®</td>
                </tr>
                <tr>
                    <th><a href="https://github.com/wibiti/uncompyle2">Uncompyle2</a></th>
                    <td>A Python 2.7 byte code decompiler</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class=bs-example data-example-id=panel-without-body-with-table>
        <div class="panel panel-default">
            <h4 class="panel-heading tools-heading">Hex Editors</h4>
            <table class=table>
                <tbody>
                <tr>
                    <th><a href="http://www.suavetech.com/0xed/">0xED (OSX)</a></th>
                    <td>a native OS X hex editor based on the Cocoa framework</td>

                </tr>
                <tr>
                    <th><a href="http://ridiculousfish.com/hexfiend/">Hex Fiend</a></th>
                    <td>A fast and clever open source hex editor
                        for Mac OS X
                    </td>
                </tr>
                <tr>
                    <th><a href="https://mh-nexus.de/en/hxd/">HxD</a></th>
                    <td>A carefully designed and fast hex editor which, additionally to raw disk editing and modifying
                        of main memory (RAM), handles files of any size
                    </td>
                </tr>
                <tr>
                    <th><a href="https://sourceforge.net/projects/hexplorer/">Hexplorer</a></th>
                    <td>Binary (hexadecimal) editor for Windows</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class=bs-example data-example-id=panel-without-body-with-table>
        <div class="panel panel-default">
            <h4 class="panel-heading tools-heading">Web Exploitation</h4>
            <table class=table>
                <tbody>
                <tr>
                    <th><a href="https://portswigger.net/burp/">Burp Suite</a></th>
                    <td>An intercepting proxy</td>

                </tr>
                <tr>
                    <th><a href="https://www.rapid7.com/products/nexpose/compare-downloads.jsp">ntoinsight and
                        ntoweb</a></th>
                    <td>A is the industry-leading vulnerability management solution</td>
                </tr>
                <tr>
                    <th><a href="https://www.owasp.org/index.php/XSS_Filter_Evasion_Cheat_Sheet">XSS Cheatsheet</a></th>
                    <td>A go to reference for XSS examples and explanations</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Cornell Hacking Club 2016</p>
            </div>
        </div>
    </footer>

</div>
<!-- /.container -->

<!-- jQuery -->
<script src="../../static/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../../static/js/bootstrap.min.js"></script>

</body>

</html>
