{% include "head.html" %}

<body>

<!-- Navigation -->
{% include "header.html" %}

<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Writeups
                <small>CTF Writeups</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="../">Home</a>
                </li>
                <li class="active">Writeups</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->


    <!-- Search bar -->
    <!--<div class="col-md-12">-->

        <!--&lt;!&ndash; Blog Search Well &ndash;&gt;-->
        <!--<div class="well">-->
            <!--<h4>Blog Search</h4>-->
            <!--<div class="input-group">-->
                <!--<input type="text" class="form-control">-->
                        <!--<span class="input-group-btn">-->
                            <!--<button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>-->
                        <!--</span>-->
            <!--</div>-->
            <!--&lt;!&ndash; /.input-group &ndash;&gt;-->
        <!--</div>-->

    <!--</div>-->
     {% for ctf in ctfs %}
     <div class="row">
        <div class="col-md-12">
            <h3>
                <a href="{{ ctf.url_of_CTF }}">{{ ctf.name_of_CTF }}</a>
            </h3>
            <p>Placed <b>{{ ctf.place }}</b> out of <b>{{ ctf.out_of }}</b> | Competed on {{ ctf.date_competed }}</p>
            </p>
            <p>{{ ctf.description }}</p>
            <a class="btn btn-primary" href="{% url "writeup" id=ctf.id %}">Read Writeup <i class="fa fa-angle-right"></i></a>
        </div>
    </div>
    <hr>
    {% endfor %}
    <!-- /.row -->



{#    <!-- Pager -->#}
{#    <div class="row">#}
{#        <ul class="pager">#}
{#            <li class="previous"><a href="#">&larr; Older</a>#}
{#            </li>#}
{#            <li class="next"><a href="#">Newer &rarr;</a>#}
{#            </li>#}
{#        </ul>#}
{#    </div>#}
{#    <!-- /.row -->#}


    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Cornell Hacking Club 2016</p>
            </div>
        </div>
    </footer>

</div>
<!-- /.container -->

{% include "js.html" %}

</body>

</html>
