{% include "head.html" %}

<body>

<!-- Navigation -->
{% include "header.html" %}
<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ writeup.name_of_CTF }}
                </small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="../../">Home</a>
                </li>
                <li><a href="../">Writeups</a></li>
                <li class="active">{{ writeup.name_of_CTF }}</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <!-- Content Row -->
    <div class="row">

        <!-- Blog Post Content Column -->
        <div class="col-lg-12">

            <!-- Writeup Content -->
            {{ writeup.writeup | safe }}

            <!-- Footer -->
            <footer>
                <div class="row">
                    <div class="col-lg-12">
                        <p>Copyright &copy; Cornell Hacking Club 2016</p>
                    </div>
                </div>
            </footer>

        </div>
        <!-- /.container -->

        {% include "js.html" %}

        <!-- Code Snippet Prettify -->
        <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>

</body>

</html>
